body {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat Alternates', sans-serif;
}

.main-container { 
    margin: 0 auto;
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header, .caller-id, .footer {
    padding: 5px 15px;
}

.header {
    height: 15%;
    background-image: linear-gradient(to right top, #0d3488, #12419a, #154fad, #175dc1, #176bd4, #2979de, #3887e8, #4795f1, #63a5f2, #7eb5f2, #99c4f2, #b4d3f2);  
    display: flex;
    justify-content: space-between;
 }

.header-title{
    display: flex;
    align-items: center;
}

.header-text {
    margin: 0;
    font-size: 3.5vw;
    color:  #050b53;
    text-shadow: #70cff5 0 0 2px;
}

.caller-id {
    height: 70%;
    background-color: #a4b4ff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.main-text, .form, .result {
    width: 80%;
}

.main-text p, .form p {
    color: #2f2f9b;
    font-size: 2vw;
}

.caller-id-result {
    color: #141474;
    font-size: 1.4em;
    font-weight: bold;
}

.input-place {
    color: #7676ca;
    font-weight: bold;
    height: 20px;
    width: 100px;
    border: none;
    padding: 5px 10px;
    font-size:16px;
    transition: 0.5s;
}

.input-place:hover {
    box-shadow: 0 0 10px #0b0ba1;
}

.input-place:focus {
    color: #0a0aa0;
    outline: 1px solid blue;
}

.get-number-button {
    color: #3131da;
    background-color: white;
    border: none;
    font-weight: bold;
    padding: 5px 10px;
    font-size:16px;
    transition: 0.5s;
}

.get-number-button:hover {
    box-shadow: 0 0 10px #0b0ba1;
    cursor: pointer;
}

.get-number-button:active {
    transform: scale(105%);
}

.result {
    height: 25%;
}

.footer {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #0d3488, #12419a, #154fad, #175dc1, #176bd4, #2979de, #3887e8, #4795f1, #63a5f2, #7eb5f2, #99c4f2, #b4d3f2);
}

.footer-text {
    text-align: center;
}

.footer a {
    text-decoration: none;
    color:#081175;
    text-shadow: #81c5e0 0 0 2px;
    transition: 0.5s;
}

.footer a:hover {
    color: #2a7fa0;
}

@media (max-width: 770px) {
    .header-text {
        font-size: 4.5vw;
    }

    .main-text p, .form p {
        font-size: 3vw;
    }

    .caller-id-result {
        font-size: 18px;
    }

    .logo-pic {
        width: 50px;
    }

    .main-container {
        width: 100%;
    }
}

@media (max-width: 490px) {

    .header-text {
        font-size: 6vw;
    }

    .main-text p, .form p {
        font-size: 3.5vw;
    }

    .caller-id-result {
        font-size: 15px;
    }

    .header {
        display: flex;
        flex-direction: column;
    }
}

